
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .rodape {
            width: auto;
            height: 340px;
            background-color: gray;

        }

        .posicaoLogo {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .logoklm {
            width: 150px;
           
            margin-top: 20px;
        }

        .logox2 {
            width: 300px;
        }

        .copyright {
            margin-top: 15px;
            text-align: center;
        }

        .redeSocial {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            width: 50%;
        }

        .socialmedias {
            width: 40px;

        }
        
        
        @media only screen and (max-width: 440px) {
            .logoklm {
                width: 50px;
                height: auto;
                margin-top: 20px;
            }

            .logox2 {
                width: 150px;
                height: auto;
            }

            .redeSocial {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                justify-content: space-around;
                width: 50%;
            }

            .fone {
                display: none;
            }
            .rodape {
            width: auto;
            height: 240px;
            background-color: gray;

            }

        }

    </style>
</head>

<body>
    <div class="container">
        <div class="rodape">
            <div class="row">
                <div class="col-6 posicaoLogo">
                    <img src="/images/img/Logo_KLM_2.png" alt="" class="logoklm">
                </div>
                <div class="row redeSocial">
                    <div class="col-12 ">

                        <h4>Redes Sociais</h4>
                    </div>
                    <div class="col-12 redeSocial">
                        <a href="https://www.facebook.com/klmcorretoraseguros/"> <img src="/images/img/facebook.png" alt="" class="socialmedias"> </a>
                        <a href="https://www.instagram.com/klm_corretora_seguros/?hl=pt-br"> <img src="/images/img/instagram.png" alt="" class="socialmedias"> </a>
                        <a href="https://whats.link/klmcorretoradeseguros"> <img src="/images/img/whatsap.png" alt="" class="socialmedias"> </a>
                        <a href="tel:+5511992292894" class="fone">Fone: (11) 99229-2894</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 posicaoLogo">
                    <img src="/images/img/logo-x2-seguros-consultoria-horizontal.png" alt="" class="logox2">
                </div>
                <div class="row redeSocial">
                        <div class="col-12 redeSocial">
                        <a href="https://www.facebook.com/x2segurosconsultoria"> <img src="/images/img/facebook.png" alt="" class="socialmedias"> </a>
                        <a href="https://www.instagram.com/ceottoandre/"> <img src="/images/img/instagram.png" alt="" class="socialmedias"> </a>
                        <a href="https://whats.link/x2corretora"> <img src="/images/img/whatsap.png" alt="" class="socialmedias"> </a>
                       <a href="tel:+5511992943451" class="fone">Fone: (11) 99294-3451</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 copyright">
                    Copyright © <date>2020</date> Todos os direitos reservados. <small>Developed by Vinicius Callegari</small>
                </div>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
