<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">

  </div>
  <div class="conteiner">
    <div class="main">
     <div class="texto">
     <button type="submit" class="primery"></button>
      <h1><%= title %></h1>
    
      <h3>Somos uma Corretora de Seguros especializada em seguros de vida e acidentes pessoais.</h3>
    
    
    </div>

    <div class="footer">
      <%- include('./partials/footer') %>
    </div>
  </div>
</body>

</html>